<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ID Card Combiner</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div id="top-bar">
      <div id="title">ID Card Combiner</div>
    </div>
    <div class="container">
      <form id="uploadForm">
        <label for="front_image">1. Enter Front Image</label>
        <input type="file" name="front_image" id="front_image" required>
        <label for="back_image">2. Enter Back Image</label>
        <input type="file" name="back_image" id="back_image" required>
        <button type="submit" id="combineButton">Combine Now</button>
      </form>
      <a id="downloadButton" class="download-link" download="combined_image.jpg" style="display:none;">Download Combined Image</a>
      <div id="result" class="result-img" style="display:none;">
        <h2>Combined Image:</h2>
        <img id="combinedImage" alt="Combined ID Photo">
      </div>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>
